.project-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px #e2e8f0;
  margin: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project-image {
  height: 130px;
  width: 190px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-name {
  color: #475569;
  font-family: 'roboto';
  font-weight: 400;
  font-size: 12px;
}
